.title {
  font-size: 3.2rem;
  font-weight: "bold";
  color: white;
  writing-mode: vertical-lr;
  white-space: pre-line;
  padding: 20px 20px;
}

.bottom_container{
  position: absolute;
  bottom: 20px;
  width: 100%;
}
.text1{
  width: calc(100%-40px);
  margin: 0 20px;
  padding: 13px 0;
  text-align: center;
  background-color: #18516e;
  font-size: 27px;
  font-family: 'Black Han Sans', sans-serif !important;

  border: 1px solid #C8FD06;
  border-radius: 10px;
  -webkit-text-stroke-width: 1.4px;
  -webkit-text-stroke-color: white;
  word-break: keep-all;
}

.text2{
  font-size: 25px;
  color: black;
  width: 100%;
  font-weight: bold;
  margin-top: 20px;

  text-align: center;
  font-family: 'Black Han Sans', sans-serif !important;
  -webkit-text-stroke-width: .5px;
  -webkit-text-stroke-color: #C8FD06;
}
.button_container{
  display: flex;
  justify-content: flex-end;
  margin-right: 20px;
  margin-bottom: 20px;
}

@media screen and (max-width: 410px) {
  .title{
    font-size: 2.5rem;
  }

}
@media screen and (max-width: 333px) {
  .text1{
    font-size: 1.5rem;
  }
  .text2{
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 295px) {
  .title{
    font-size: 2rem;
  }
  .text1{
    font-size: 1.25rem;
  }
  .text2{
    font-size: 1.25rem;
  }
}