.top{
  padding: 30px 10px;
  display: flex;
}
.q{
  color: #C8FD06;
  font-size: 70px;
  margin-right: 10px;
}
.title{
  color: #C8FD06;
  font-size: 30px;
}
.img{
  width: 100%;
  object-fit: contain;
}
.verticalImg{
  height: 50vh;
  object-fit: contain;
}

.bottom{
  display: flex;
  justify-content: space-between;
  margin: 30px 10px 0 10px;
}
.bottom p{
  font-size: 14px;
  color: white;
}
.percent{
  color: white;
  font-size: 30px;
}


@media screen and (max-width: 400px) {
  .q{
    color: #C8FD06;
    font-size: 45px;
    margin-right: 10px;
  }
  .title{
    color: #C8FD06;
    font-size: 22px;
  }
  .bottom p{
    font-size: 12px;
    color: white;
  }
}